@model IEnumerable<Tesis>

@{
	ViewData["Title"] = "Tesis";
}

<h1>Tesis</h1>
<p>
	<a class="btn btn-primary" href="@Url.Action("Create")">Crear Nueva Tesis</a>
</p>


<div class="table-responsive">
	<div id="tesistable">
		@await Html.PartialAsync("_table", Model)
	</div>
</div>


@section scripts {
	<script src="~/js/tesis.js"></script>
}